$primary-color: #06aae9;
$header-color: #0e1a1d;
$sidenav-color: $header-color;
$footer-color: $header-color;
$header-font-color: #fff;
$sidenav-font-color: $header-font-color;
$footer-font-color: $header-font-color;